DB_DEV_NAME=jekrmdll
DB_DEV_USER=jekrmdll
DB_DEV_PASS=33u7GM5pRCwkXLPXs3_XoyXsd1XlgsVD
DB_DEV_PORT=5432
DB_DEV_HOST=heffalump.db.elephantsql.com
DB_DEV_DIALECT=postgres

DB_TEST_NAME=jekrmdll
DB_TEST_USER=jekrmdll
DB_TEST_PASS=33u7GM5pRCwkXLPXs3_XoyXsd1XlgsVD
DB_TEST_PORT=5432
DB_TEST_HOST=heffalump.db.elephantsql.com
DB_TEST_DIALECT=postgres

DB_PROD_NAME=jekrmdll
DB_PROD_USER=jekrmdll
DB_PROD_PASS=33u7GM5pRCwkXLPXs3_XoyXsd1XlgsVD
DB_PROD_PORT=5432
DB_PROD_HOST=heffalump.db.elephantsql.com
DB_PROD_DIALECT=postgres

SECRET_KEY=af8c2376-44ee-41f0-bf78-0b5911783969

NODE_ENV=development
DATABASE_URL=postgres://jekrmdll:33u7GM5pRCwkXLPXs3_XoyXsd1XlgsVD@heffalump.db.elephantsql.com/jekrmdll

EMAIL_USER=